__pycache__/
*.manifest
desktop_app/*.manifest
app.manifest
desktop_app/app.manifest
*.spec
desktop_app/*.spec
.env
.venv
env/
venv/
node_modules/
.vs/
**/.vs/
logs/
*.log
certificates/
keys/
*.pem
*.key
public_key.pem
private_key.pem
supabase_config/
**/supabase_config/
supabase_config/*
uploads/
package-lock.json
yarn.lock
build/
*.spec